body, html {
  height: 100%;
    width: 100%;
}

div, section {
    height: 100%;
}

.tab-pane {
    height: 100%;
    width: 100%;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

#videos {
  position: relative;
  width: 100%;
  height: 100%;
}

#subscriber {
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 25px;
    left: 25px;
    border: 5px solid red;
}

#publisher {
  width: 100%;
  height: 100%;
}

#sketch {
    height: 100%;
    width: 100%;
}

#codeEditor {
    height: 100%;
    width: 100%;
}
