<section class="container" data-ng-controller="InterviewController">

  <tabset>
    <tab select="selectedTab('video')">
      <tab-heading>
        <i class="glyphicon glyphicon-facetime-video"></i>Video</tab-heading>
      <div id="videos">
        <div data-subscriber ></div>
        <div data-publisher class="small-video"></div>
      </div>
    </tab>
    <tab select="selectedTab('code')">
      <tab-heading>
        <i class="glyphicon glyphicon-education"></i>Code Editor</tab-heading>
      <interview-code-editor></interview-code-editor>
    </tab>
    <tab select="selectedTab('chat')">
      <tab-heading>
        <i class="glyphicon glyphicon-comment"></i>Chat</tab-heading>
      <interview-chat></interview-chat>
    </tab>
    <tab select="selectedTab('paint')">
      <tab-heading>
        <i class="glyphicon glyphicon-picture"></i>Paint</tab-heading>
        <interview-paint></interview-paint>
    </tab>
  </tabset>

</section>
