<section class="container" data-ng-controller="InterviewController">

  <tabset>
    <tab select="selectedTab('video')">
      <tab-heading>
        <i class="glyphicon glyphicon-facetime-video" data-tab-video></i>Video</tab-heading>
      <div id="videos">
        <div data-subscriber ></div>
        <div data-publisher class="small-video"></div>
      </div>
    </tab>
    <tab select="selectedTab('code')">
      <tab-heading>
        <i class="glyphicon glyphicon-education" data-tab-code></i>Code Editor</tab-heading>
      <interview-code-editor></interview-code-editor>
    </tab>
    <tab select="selectedTab('chat')">
      <tab-heading>
        <i class="glyphicon glyphicon-comment" data-tab-chat></i>Chat</tab-heading>
      <interview-chat></interview-chat>
    </tab>
    <tab select="selectedTab('paint')">
      <tab-heading>
        <i class="glyphicon glyphicon-picture" data-tab-paint></i>Paint</tab-heading>
        <interview-paint></interview-paint>
    </tab>
  </tabset>

</section>
