<section class="container" data-ng-controller="InterviewController">

  <tabset>
    <tab select="selectedTab()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i>Video</tab-heading>
      <div id="videos">
        <div id="publisher"></div>
        <div id="subscriber"></div>
      </div>
    </tab>
    <tab select="selectedTab()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i>Code Editor</tab-heading>
      <interview-code-editor></interview-code-editor>
    </tab>
    <tab select="selectedTab()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i>Chat</tab-heading>
      <interview-chat></interview-chat>
    </tab>
    <tab select="selectedTab()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i>Canvas</tab-heading>
        <interview-paint></interview-paint>
    </tab>
  </tabset>

</section>
